body{
    background-color:red;
    font-family:sans-serif;
    
}


a:link{
 color:green; 
}

a:hover{
    color:blue;
}

a:visited{
    color:white;
}
    
#wrapper{
    background-color:green;
    width:800px;
    margin:0 auto;
    padding:20px;
    border-radius:8px;
}

#menu ul{
    pading:0;
}
#menu ul li{
display:inline;
    margin-right:10px;
}



