/* 
    Document   : style
    Created on : Oct 7, 2013, 2:39:25 PM
    Author     : Wahyudi
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
p{
    line-height: 1.6em;
}
.header{
    font-family: 'Maven Pro', sans-serif;
    height: 75px;
    padding-top: 20px;
}

.logocaption{
    color:white;
    
}

.transwhite{
    margin: 40px 0;
    padding: 20px;
    background-color: black;
    opacity: 0.8;
}

.transwhite p, .transwhite h2{
    opacity: 1;
    color: white;
}

.btnbig{
    font-size: 1.2em;
    margin:40px;
    height: 50px;
}

#what, #society,#updates,#class, #available-classes, #join, #our-classes{
    padding: 100px 0;
}

h1, h2,  h3{
    font-family: 'Maven Pro', sans-serif;
    text-transform: uppercase;
}
#updates h2{
    font-size: 1.6em;
    color:#ff5e0d;
}

#updates p{
    color:#9b9b9b;
}
#our-classes{
    background: url(../images/teamwork.jpg) 0px 0px no-repeat;
    height:800px;
    color:white;
}
#updates h3{
    font-size: 1.4em;
}
#available-classes h1, #our-classes h1{
    
    font-size: 2em;
    padding: 18px 0;
    border-top:solid rgba(0,0,0,0.2) 1px;
    border-bottom:solid rgba(0,0,0,0.2) 1px;
    width:400px;
}

#join{
    background: url(../images/corrugation.png) top left;
}

#class{
    background-color: white;
    background: url(../images/noisy_grid.png) top left;
}

#society{
    background-color: black;
    background: url(../images/escheresque_ste.png) ;
    
}

#updates{
    background-color: white;
}

#society{
    color:white;
}
#what{
    color:white;
    
    background-image: url(../images/triangular.png);
    background-position: top left;
}

#footer{
    color: white;
    background-color: black ;
    padding: 40px;
    font-size: 90%;
}

#footer h2{
    font-size: 1.2em;
    padding: 0 0 10px 0;
    margin: 0;
}

#footer ul{
    list-style: none;
    padding: 0;
}

div.introbox{background-color: rgba(255,94,13,.8);
    padding: 0 40px;
    width: 600px;
    position: relative;
    left:450px;
    top:320px;
    color:white;
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.2em;
}

.introbox h1{
    font-family: 'Maven Pro', sans-serif;
    
}

.codingbox{
    font-size: 1.4em;
}

.rye{
font-family: 'Rye', cursive;
    font-size: 4em;
}

.codingbox p{
    width: 600px;
}

.carousel-box{
    padding: 20px;
    background-color: rgba(0,0,0,0.8);
}

.vertical40{
    padding:40px 0;
}

.box-intro{
    color:wheat;
    padding:10px;
    background-color:  #31b0d5;
    
}

.box-intro p{
    color:white;
}

.box-white-trans{
    background-color: rgba(255,255,255,0.8);
    color:black;
}

