body{
 background-color:#FF0000;
    color:blue;
    font-family: fantasy
}

h1{
   color: #66FF66 ;
}
h2{
   color: #00FFFF ;
}
h3{
   color: #FFFF00 ;
}


img{
    max-width: 740px;
}

div#wrapper{
  background-color: aqua  ;
   width: 800px; 
    padding: 23px;
    margin: 0px auto;
}

div#intro{
    background-color: gold;
}