body{
    background-color:#66CCFF;
    font-family:fantasy;
    color: lihgt-blue;

}

p{


}


#wrapper{
 background-color: white;
 max-width: 800px;
    margin:0px auto;
 
}
p{
border-radius: 8px ;
    box-shadow: 4px 4px blue;
}
p{
   
    border-top: grove 1opx red;
    border-style: solid;
        padding;50px;
}
#header ul{
list-style-type: none;
}

#header ul li{
    display: inline;
    margin-right: 10px
}        
